/* ********************************************************** */
/* Import google fonts */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Raleway:400,500,600,700|Roboto+Mono:400,500|Roboto+Slab&display=swap");

/* ********************************************************** */

/* ********************************************************** */
/* declaration of global variables starts */

:root {
	--pos-value: 0;

	/* rest variables are declared in MainApp.css for dynamic manipulation */

	/* font-size */
	--lg-head-font-size: 2.4em;
	--lg-font-size: 2.5rem;
	--md-font-size: 1.5rem;
	--sm-font-size: 1.1rem;

	/* font-family */
	--heading-font-family: "Raleway", sans-serif;
	--main-font-family: "Montserrat", sans-serif;
	--sec-font-family: "Roboto Mono", monospace;
}

/* declaration of global variables ends */
/* ********************************************************** */

/* ********************************************************** */
/* root css styling starts */

body {
	padding-top: 78px;
}

*:focus {
	outline: none !important;
	box-shadow: none !important;
}

a {
	color: var(--main-font-color);
}

a:hover {
	color: var(--main-font-color);
	text-decoration: none;
}

body {
	font-size: 1em;
}

.cursor-pointer {
	cursor: pointer;
}

.btn {
	background-color: transparent;
	border: 3px solid var(--main-theme-color);
	padding: 10px 20px;
	font-weight: 600;
	font-size: 1.2em;
	font-family: var(--heading-font-family);
}

.row {
	margin: 0px;
}

.btn:hover {
	color: inherit;
}

/* root css styling ends */
/* ********************************************************** */

/* ********************************************************** */
/* slidebar animation starts */

.preload {
	position: fixed;
	left: var(--pos-value);
	top: var(--pos-value);
	right: var(--pos-value);
	bottom: var(--pos-value);
	overflow: hidden;
	z-index: 100000000;
	height: 100vh;
}

.main-desc {
	position: absolute;
	top: 50%;
	left: 45%;
	z-index: 1000000000000;
}

.sliding-bar-div {
	position: relative;
	overflow: hidden;
	width: 25%;
	background-color: transparent;
}

.sliding-bar {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #fff;
	height: 100vh;
	overflow: hidden;
	transform: scaleY(1);
	transform-origin: bottom;
}

.decrease-height {
	transform: scaleY(0);
}

.box1 {
	transition: transform 1s ease-out 0.15s;
}

.box2 {
	transition: transform 1s ease-out 0.3s;
}

.box3 {
	transition: transform 1s ease-out 0.45s;
}

.box4 {
	transition: transform 1s ease-out 0.6s;
}

/* slidebar animation ends */
/* ********************************************************** */

/* ********************************************************** */
/* Main styling starts */

.main-app {
	position: relative;
}

.back-to-top .icon {
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: 2px solid var(--main-theme-color);
	border-radius: 20px;
	color: var(--main-theme-color);
	text-align: center;
	padding: 5px;
	font-size: 1.2em;
}

.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 60px;
	z-index: 1000;
}

.sec-bg-1 {
	font-stretch: expanded;
	background-color: var(--main-bg-color);
}

.sec-bg-1 * {
	color: var(--main-font-color);
}

.sec-bg-2 {
	background-color: var(--sec-bg-color);
}

.sec-bg-2 * {
	color: var(--sec-font-color);
}

.main-div {
	padding: 50px 20px;
}

.sec-head {
	text-align: center;
	padding-bottom: 30px;
}

.sec-head h1 {
	position: relative;
	font-family: var(--heading-font-family);
	font-size: var(--lg-head-font-size);
	font-weight: 600;
	width: fit-content;
	margin: 0px auto;
	padding: 10px;
	border-top: 1px solid var(--main-theme-color);
	border-bottom: 1px solid var(--main-theme-color);
}

/* .sec-head h1::before {
  content: "";
  background-color: var(--main-theme-color);
  position: absolute;
  height: 6px;
  right: 40%;
  top: -20px;
  width: 300px;
}

.sec-head h1::after {
  content: "";
  background-color: var(--main-theme-color);
  position: absolute;
  height: 6px;
  right: 40%;
  bottom: -20px;
  width: 300px;
} */

.sec-detail {
	text-align: center;
	width: 90%;
	margin: 0px auto;
}

.sec-detail p {
	font-size: var(--md-font-size);
	font-family: var(--sec-font-family);
	width: 95%;
	margin: auto;
	display: block;
}

.card-grid {
	padding-top: 10px;
}

.cards {
	text-align: center;
	font-family: var(--sec-font);
	padding: 5px 10px;
}

.cards .fa-3x {
	color: var(--main-theme-color);
}

.card-title h3 {
	font-family: var(--heading-font-family);
	margin-top: 10px;
	position: relative;
}

.card-title h3::after {
	content: "";
	background-color: var(--main-theme-color);
	position: absolute;
	height: 3px;
	width: 40px;
	right: 43%;
	bottom: -10px;
}

.card-desc {
	padding-top: 10px;
	font-size: var(--sm-font-size);
	font-family: var(--sec-font-family);
}

::-webkit-scrollbar {
	width: 6px;
	background: #ededed;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	background: var(--main-theme-color);
}

/* Main styling ends */
/* ********************************************************** */

/* ************************************************************************* */

/* ********************************************************** */
/* Responsive view styling starts */

/***###*** MEDIA QUERIES ***###***/

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.main-div {
		padding: 40px 15px;
	}

	.sec-detail {
		width: 100%;
	}

	.card-title h3::after {
		right: 38%;
	}
	.back-to-top {
		bottom: 15px;
		right: 20px;
	}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	:root {
		/* font-size */
		--lg-head-font-size: 2.2em;
		--lg-font-size: 2rem;
		--md-font-size: 1.3rem;
		--sm-font-size: 1rem;
	}

	body {
		padding-top: 64px;
	}

	.main-div {
		padding: 40px 10px;
	}

	.sec-detail {
		width: 100%;
	}

	.card-title h3::after {
		right: 46%;
	}

	.back-to-top .icon {
		width: 30px;
		height: 30px;
		padding: 0px;
	}

	.back-to-top {
		bottom: 15px;
		right: 15px;
	}
}

/********** Large Mobile devices only **********/
@media (max-width: 450px) {
	:root {
		/* font-size */
		--lg-head-font-size: 1.8em;
		--lg-font-size: 1.6rem;
		--md-font-size: 1.1rem;
		--sm-font-size: 0.9rem;
	}
	.card-title h3::after {
		right: 44%;
	}
}

/********** Medium Mobile devices only **********/
@media (max-width: 380px) {
}

/********** small Mobile devices only (eg: Iphone 4, ) **********/
@media (max-width: 330px) {
}

/* Responsive view styling ends */
/* ********************************************************** */
