.contact-page .cards .card-title h5 {
  padding-top: 15px;
  font-family: var(--heading-font-family);
}

.contact-page .card-grid {
  margin-top: 50px;
}

.contact-page .cards .fa-2x {
  color: var(--main-theme-color);
}

.contact-page .card-title h5 {
  position: relative;
}

.contact-page .card-title h5::after {
  content: "";
  background-color: var(--main-theme-color);
  position: absolute;
  height: 3px;
  width: 30px;
  right: 44%;
  bottom: -5px;
}

.contact-page .cards .card-desc {
  padding: 0px;
}

.contact-page .cards .card-desc p {
  font-size: var(--sm-font-size);
}
