.footer {
  text-align: center;
}

.footer-col-1,
.footer-col-2 {
  width: 100%;
}

.social-icon-list {
  padding-top: 10px;
}

.social-icons {
  padding: 5px 12px;
  font-size: 1.5em;
  border-radius: 30px;
  margin: 5px 6px;
  background-color: var(--main-theme-color);
}

.social-icons:hover {
  background-color: var(--main-font-color) !important;
}

.social-icons:hover .fab {
  color: var(--main-theme-color) !important;
}

.footer-col-2 p {
  float: right;
}

.end-footer {
  padding: 15px;
  text-align: center;
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  font-size: 1.2em;
}

.copyright {
  font-family: var(--main-font-family);
}

/* Responsive view styling starts */

/***###*** MEDIA QUERIES ***###***/

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .social-icon-list {
    justify-content: center;
    align-items: center;
  }

  .footer-col-1,
  .footer-col-2 {
    text-align: center;
  }

  .footer-col-2 p {
    padding-top: 15px;
    float: none;
  }

  .end-footer {
    padding: 10px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .social-icon-list {
    justify-content: center;
    align-items: center;
  }

  .footer-col-1,
  .footer-col-2 {
    text-align: center;
  }

  .footer-col-2 p {
    padding-top: 15px;
    float: none;
  }

  .end-footer {
    padding: 10px;
  }
}

/********** Large Mobile devices only **********/
@media (max-width: 450px) {
  .social-icons {
    padding: 4px 10px;
    font-size: 1.3em;
  }
}

/********** Medium Mobile devices only **********/
@media (max-width: 400px) {
  .social-icons {
    padding: 3px 9px;
  }
}

/********** small Mobile devices only (eg: Iphone 4, ) **********/
@media (max-width: 330px) {
  .social-icons {
    padding: 5px 6px;
    font-size: 1em;
  }
}

/* Responsive view styling ends */
/* ********************************************************** */
